<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Contatos</h2>
	</div>
	<div class="panel-body">
		<address>
			<p> Coordenação de Informática </p>
			<p>Av. Dr. Siqueira, 273</p>
			<p>Parque Dom Bosco</p>
			<p>Campos dos Goytacazes</p>
			<p>Cep : 28030-305</p>			
			<p> Telefone:	 <phone>(022) 2726-2861</phone> </p>
			<p> Email:	<a href="mailto:coodinfo@gmail.com">coordinfo@gmail.com</a><br> 
			</address>
		</div>
	</div>
		


