
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Sistema de Controle de Atividades Acadêmico-Científico-Culturais</h2>
	</div>
	<div class="panel-body">
		<p> Siga as opções abaixo:</p>
		<ul>
			<li>Clique na opção Atividades, onde aparecerão todas as atividades que você já submeteu! </li>
			<li>Na Tela de Atividades, haverá um botão ao final "Nova Atividade", clique nele para submeter nova Atividade para avaliação </li>
			<li>Preencha os campos da tela de Cadastro de Atividades</li>
			<ul>
				<li>Descrição: Breve descrição da atividade que está enviando para avaliação</li>
				<li>Modalidade: A atividade deve se classificar em uma das Modalidades para ser aceita. </li>
				<li>Horas Requisitadas: Quantas Horas você realizou neste comprovante. Deve ser respeitado o limite máximo de horas admitido.</li>
				<li>Horas Julgadas: Após avaliada, este campo indicará quantas horas foram aceitas nesta atividade.</li>
				<li>Anexo: Item obrigatório. Você deve submeter o comprovante da atividade no formato PDF. Serão aceitos apenas 1 arquivo por atividade. </li>
				<li>Julgador: Nome do professor que julgou a sua atividade</li>
			</ul>
			<li>Salve a atividade</li>
			<li>Quando o total de horas julgadas ultrapassar 240h e o aluno estiver cursando o <u>9o.Período</u>,  este deverá imprimir o Relatório de Atividades (menu lateral), levá-lo na coordenação para carimbo.
			</ul>
	</div>
</div>