<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Regulamento</h2>
	</div>
	<div class="panel-body">
	<%= link_to "...", '../docs/regulamento.pdf', target: 'blank_',class: "glyphicon glyphicon-paperclip"   %>
					
	<iframe src="../docs/regulamento.pdf" width="100%" height="780" style="border: none;"> </iframe>

	</div>
</div>
		


